body{
	text-align: center;
	background: DeepSkyBlue;;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #BF5E31;
  font-weight: 100;
  font-size: 45px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgba(85,105,230,1);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
.vertical-center {
  min-height: 60%;
  min-height: 60vh;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) and (min-width: 700px) {
  h1 {
	font-size:85px;
  }
  #clockdiv{
	font-size:85px;
  }
  .smalltext{
	font-size: 45px;
  }
}
@media (max-width: 1000px) and (min-width: 801px) {
  h1 {
	font-size:80px;
  }
  #clockdiv{
	font-size:133px;
  }
  .smalltext{
	font-size: 50px;
  }
}
